* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #1d2b3a;
  overflow: hidden;
  filter: url(#gooey);
}
.circle {
  position: relative;
  width: 200px;
  height: 200px;
  background: linear-gradient(90deg, #350068, #ff6978);
  cursor: pointer;
  border-radius: 50%;
}

.particles {
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(90deg, #350068, #ff6978);
  z-index: -1;
}
@keyframes animate {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(var(--x), var(--y));
  }
}
svg {
  width: 0;
  height: 0;
}
